:root {
    --roboFont: 'Roboto';
    --sansFont: 'Open Sans';
    --nunitoFont: 'Nunito';
    --transClr: rgba(0, 0, 0, 0.6);
}

.roboFont {
    font-family: var(--roboFont);
    font-weight: bold;
}

.sansFont {
    font-family: var(--sansFont);
}

.nunFont {
    font-family: var(--nunitoFont);
}

.shareLink{
    display: none;
}

.shareIcon{
    margin-right: 20px;
    color: white;
}
.pwa_redirect i {
    margin-right: 15px !important;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../fonts/nunito-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/nunito-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/nunito-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/nunito-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/nunito-v12-latin-regular.svg#Nunito') format('svg');
    /* Legacy iOS */
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

html {
    font-family: var(--nunitoFont) !important;
}

.btn {
    background-color: var(--transClr) !important;
}

a{
    color: black;
}

.current {
    color: white;
    font-weight: bold;
    transition: 0.5s;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--transClr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


nav {
    max-height: 10vh;
    background: var(--transClr);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.page-footer {
    background: var(--transClr);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

#totCountUpdateTime {
    padding-right: 20px;
}


section {
    width: 96vw;
    margin: 0 auto;
}

.mapCard {
    height: 88vh;
}

.homeTblCard {
    height: 88vh !important;
    overflow-y: scroll !important;
}

.legend {
    transform: translate(100, 100) !important;
}

.page-footer {
    padding-top: 0px !important;
}

.sectionHeading {
    padding: 5px;

}

.usefulLinksBtn .btn {
    width: 100%;
}

.usefulLinksBtn {
    border: 1px solid black;
}


#tnMap {
    width: 100%;
    height: 88vh;
}

#tnMap text {
    font-size: 0.2em;
}

#tnMap path:hover {
    stroke: black;
}

#contact,
#about,
#patDetails {
    padding-bottom: 10px;
    margin-bottom: 20px;
}

a.brand-logo{
    padding-left: 20px !important;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 2rem !important;
        padding-left: 0px !important;
        left: 40% !important;
    }
}

@media only screen and (max-width: 600px) {
    .homeTblCard {
        height: fit-content !important;
        padding-left: 0px !important;
    }
}